@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.panel{
    margin-top: 100px;
    text-align: center;
}
.admin-panel
{
    font-family: Poppins;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #7b4397, #dc2430);
    width:70%;
    margin:20px auto;
    padding:50px;
    border-radius:40px;

}
.btns
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.btns .btn
{
    width:150px;
    height: 100px;
    padding:0px;

}
.logout
{
    width:110px;
    height:60px;
    border:none;
    border-radius:5px;
    margin-top:20px;
}
.rform
{
    font-family: Poppins;
    background: linear-gradient(to left, #7b4397, #dc2430);
    height:40%;
    border-radius: 40px;
}
.form-label{
    margin-top:10px;
}
.btn-success
{
    font-size: 20px;
}
.submit
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.back
{
    margin-left:5%;
    margin-top:5%
}